﻿@model IEnumerable<TMS.Models.MatchDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Match/New">New Match</a>
@foreach (var match in Model)
{
    <h2><a href="/Match/Details/@match.Id">@match.Team1  VS @match.Team2</a></h2>
}