﻿@model PassionProject.Models.TeamDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Match?</h2>
<a href="/Team/List">Cancel</a>
<h2>@Model.TeamName</h2>
<form action="/Team/Delete/@Model.TeamId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>