@model TMS.Models.TeamDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Team</h2>
<div id="containershow">
    <nav class="my-2">
        <a class="btn btn-secondary navlink" href="/Team">Back To Teams</a>
    </nav>
    <form action="/Team/Update/@Model.Id" method="POST">
        <div style="display:none;">
            <input type="text" name="TeamId" value="@Model.Id" />
            <input type="text" name="OwnerId" value="@Model.OwnerId" />
        </div>
        <div class="inputrow my-2">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" value="@Model.Name" />
        </div>
        <div class="inputrow my-2">
            <label for="Country">Country:</label>
            <input type="text" id="Country" name="Country" value="@Model.Country" />
        </div>
        <div class="inputrow my-2">
            <input class="btn btn-primary" type="submit" value="Update Team" />
        </div>
    </form>
</div>
