@model TMS.Models.ViewModel.TeamDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Team</h2>
<form action="/Team/Update/@Model.Id" method="POST">
    <div style="display:none;">
        <input type="text" name="TeamId" value="@Model.Id" />
    </div>
    <div>
        <label>Team Name: </label> <input type="text" name="TeamName" id="TeamName" value="@Model.Name" />
    </div>

    <div>
        <label>Country: </label> <input type="text" name="Country" id="Country" value="" />
    </div>


    <div>
        <label>Owner: </label> <input type="number" name="Owner" id="Owner" value="" />
    </div>

@*    <div>
        <label>UserDetails: </label> <input type="text" name="UserDetails" id="UserDetails" value="" />
    </div>*@
    <div>
        <input type="submit" value="Update Team" />
    </div>
</form>